.avatar-view__container {
  position: relative;
  transform-origin: left top;
}

.avatar-view__video,
.avatar-view__overlay,
.avatar-view__webgl {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}

.avatar-view__note {
  position: absolute;
  width: 400px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  font-weight: bold;
  font-size: 20px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  animation: anime1 1s linear infinite alternate;
}

@keyframes anime1 {
  0% {
    font-size: 20px;
  }
  50% {
    font-size: 25px;
  }
  100% {
    font-size: 20px;
  }
}
