.scan-view__video--reverse {
  transform: scaleX(-1);
}
.scan-view__container {
  position: relative;
}
.scan-view__template {
  position: absolute;
  top: 0;
  left: 0;
}
.scan-view__snapshot-name {
  width: 200px;
}