/* #videoel {
    display: none;
} */
#container {
  position: relative;
}
.video,
.overlay,
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}
.masks {
    display: none;
}

button {
  padding: 10px;
}